body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Gill Sans", sans-serif; 
  font-size: 17px;
  line-height: 14px;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  color: transparent;
}

.first-header {
  background-color: #33445a;
}

.search {
  background-color: #293449;
}

.button-order,
.button-order:active {
  background-color: #6db254;
  line-height: auto;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:focus {
  background-color: #518534;
}

.header-button
.header-button:active {
  line-height: auto;
} 

.header-button:hover {
  background-color: #212a3a;
 } 

.header-button:focus {
  background-color: #161d29;
 } 

.second-header {
  background-color: #f4f7f9;
}

.button-search:hover {
  background-color: #212a3a;
}
.button-search:active {
  background-color: #ffffff;
  color: #000000;
}

button {
  font: inherit;

  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(229, 229, 229, 0,9);
  border: none;
}

button:focus {
  background-color: rgba(204, 204, 204, 0,9);
 } 

button:active {
  background-color: rgba(178, 178, 178, 0,9);
 } 

.introduction {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  position: absolute;
  color: #ee3643;
}

.telephone {
  font-size: 21px;
  color: #e9292a;
  line-height: auto;
  text-align: left;
  border: 3px #ffffff;
}

.address {
  font-size: 14px;
  font-family: "Cuprum", "Gill Sans", sans-serif;
  color: #32425c;
  line-height: auto;
  text-align: center;
}

.login-link {
  font-size: 21px;
  color: rgb(0, 0, 0);
  line-height: auto;
  text-align: left;
  background-color: #ffffff;
}

.login-link:focus {
  color: #ee3643;
}

.login-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.main-navigation {
  background-color: #32425c;
}

.navigation-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
  list-style: none;
}

.navigation-item:focus {
  background-color: #293449;
}

.navigation-item:active {
  background-color: #1d2739;
}

.material {
  background-color: #ffbf47;
  background-size: 300px 124px;
  list-style: none;
}

.instrument {
  background-color: #3bbce3;
  background-size: 300px 124px;
  list-style: none;
}

.equipment {
  background-color: #dc91d8;
  background-size: 300px 124px;
  list-style: none;
}

.sale {
  background-color: #8ed78f;
  background-size: 300px 124px;
  list-style: none;
}

.delivery {
  background-color: #ffc047;
  background-size: 300px 124px;
  list-style: none;
}

.offers-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.text-gallery {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.text-gallery-small {
  color: #ffffff;
}

.all-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ff5357;
  border-radius: 5px;
}

.all-button:focus {
  background-color: #ca2c37;
}

.all-button:active {
  background-color: #ba2732;
}

.head-section {
  background-color: #f9f5f0;
  background-size: 940px 88px;
}

.catalog-item {
  border: 1px solid #eaeaea;
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  text-transform: uppercase;
  color: #3d546e;
}

.title-catalog-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.cost-catalog-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-item-menu:hover {
  box-shadow: 0 3px;
}

.buy {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #63a63e;
}

.buy:hover,
.buy:focus {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #5fbb2d;
}

.buy:active {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #518534;
}

.bookmarks {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #63a63e;
}

.bookmarks:hover,
.bookmarks:focus {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #32425c;
}

.bookmarks:active {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #e8e9eb;
  border: 3px solid #c1c6ce;
}

.button-cost {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: ee3643;
  background-size: 143px 39px;
}

.manufacture-list {
  list-style: none;
}

.manufacture-item {
  border: 1px solid #eaeaea;
}

.manufacture-item:hover {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.manufacture-item:active {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.offers-list {
  background-color: #f4f8f9;
}

.title-block {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-size: 13px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #000000;
}

.services {
  list-style: none;
}

.services-item {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3d546e;
}

.list {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}

.first-footer {
  background-color: #3d546e
}

.second-footer {
  background-color: #33445a
}

.footer-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9;
}

.menu-footer li{
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9; 
  list-style: none;
}

.second-menu-footer li {
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #ffd180; 
}

.second-menu-footer-item {
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #ffd180;
}

.menu-footer li:hover,
.menu-footer li:focus,
.second-menu-footer li:hover,
.second-menu-footer li:focus {
  text-decoration: underline;
}

.second-menu-footer li{
  color: #ffda96;
  list-style: none;
}

.second-footer-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.social-link {
  background-color: #212a3a;
  list-style: none;
}

.social-link:active,
.social-link:focus {
  background-color: #ee3643;
  list-style: none;
}

.our-contact {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.our-contact a {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffd180;
  text-transform: none;
}

.our-contact a:focus,
.our-contact a:hover {
  text-decoration: underline;
}

.our-contact a:active {
  color: #ee3643;
}

.basket {
  line-height: auto;
  background-color: #ee3643;
} 

.myname {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

.mycabinet {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #32425c;
  text-decoration: underline;
}

.mycabinet:focus {
  color: #ee3643;
  text-decoration: underline #ee3643;
}

.mycabinet:active; {
  color: #32425c;
  text-decoration: underline #32425c;
}

.breadcrumps-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.first-filter-menu {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.main-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.top-filter {
  color: #000000;
  border-bottom: 1px dashed #ee3643;
  list-style: none; 
}

.top-filter:hover,
.top-filter:focus {
  color: #000000;
  border-bottom: 1px underline #ee3643;
  list-style: none; 
}

.top-filter:active {
  color: #ee3643;
  border-bottom: none; 
  list-style: none;
}

.manufacture-name {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
 }
 
.filter-option {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
}

.filter-button,
.pagination-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  list-style: none;
}

.pagination-item:focus {
  color: #000000;
  border: 1px solid #bdc6ca;
  list-style: none;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  color: #000000;
  list-style: none;
} 

.pagination-item-current {
  background-color: #ee3643;
  list-style: none;
}

.checkbox {
  color: #b5b5b5;
}

.chechbox:focus,
.ratio:focus {
  box-shadow: inline rgba (0, 0, 0, 0,35)
}



/* Сетка */

.container {
  margin: 0 auto;
}

.first-header {
  min-height: 42px;
  display: flex;
  flex-direction: row;
  min-width: 1200px;
 }
 
 .first-header-navigation {
  justify-content: flex-start;
  margin-left: 130px;
  display: flex;
 }

 .search {
  margin-top: 12px;
 }

 .user-navigation {
  display: flex;
}

.header-button {
  padding-top: 12px;
  margin-left: 207px;
  padding-right: 26px;
  padding-left: 11px;
  padding-bottom: 12px;
}

.header-button-bookmarks {
  padding-top: 12px;
  padding-right: 26px;
  padding-left: 11px;
  padding-bottom: 12px;
}

.basket {
  padding-top: 12px;
  padding-right: 26px;
  padding-left: 48px;
  padding-bottom: 12px;
}

.button-order {
  padding-top: 12px;
  padding-right: 21px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-right: 130px;
}

.second-header {
  min-height: 278px;
}

.introduction {
  margin-left: 118px;
  padding-top: 45px;
}

.telephone {
  margin-left: 520px;
  padding-top: 61px;
  margin-bottom: 20px;
}

.address {
  margin-left: 458px;
  margin-top: 99px;
}

.myname-block {
  display: flex;
  margin-left: 770px; 
}

.myname {
  padding-bottom: 17px;
  padding-top: 14px;
  padding-right: 41px;
  padding-left: 48px;
}

.mycabinet {
  margin-left: 787px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item-block {
  margin-right: 36px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 20px;
  padding-bottom: 23px; 
}

.navigation-item {
  padding-right: 56px;
  padding-left: : 50px;
}

.main-title {
  min-height: 88px;
  padding-top: 31px;
  padding-left: 28px;
  margin-left: 130px;
  margin-right: 130px;
}

.top-filter-title {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin-left: 130px;
  min-width: 220px;
}

.first-filter-menu {
  display: flex;
  min-height: 38px;
  margin-right: 130px;
  margin-left: 20px;
}

.second-filter-menu {
  display: flex;
  width: 220px;
  min-height: 700px;
  margin-left: 130px;
}

.filter-top-menu {
  min-height: 38px;
  width: 700px;
  display: flex;
}

.filter-menu {
  display: flex;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  height: 996px;
  width: 800px;
}

.catalog-item {
  margin-right: 20px;
  margin-bottom: 23px;
  width: 220px;
  height: 319px;
}

.pagination {
  display: flex;
  flex-direction: row;
}

.pagination-item,
.pagination-item-current{
  height: 39px;
  margin-right: 14px;
}

.perforation-text {
  min-height: 261px;
  display: flex;
  flex-direction: column;
  background-color: #f2f6f8;
}

.title-block {
  margin-left: 130px;
}

.first-footer {
  min-height: 194px;
}

.logotip {
  margin-left: 130px;
  margin-bottom: 31px;
}

.footer-text {
  margin-left: 130px;
}

.menu-footer {
  display: flex;
  margin-left: 80px;
}

.menu-footer-item {
  margin-right: 58px;
}

.second-menu-footer {
  display: flex;
  margin-left: 60px;
}

.second-menu-footer-item {
  margin-right: 58px;
}

.second-footer {
  min-height: 104px;
  display: flex;
}

.second-footer-text {
  margin-left: 130px;
  padding-top: 35px;
  margin-right: 160px;
}

.social-link {
  padding: 0;
  display: flex;
  flex-flow: row;
}

.our-contact {
  display: flex;
  margin-left: 119px;
}

.catalog-wrapper {
  display: flex;
}

.filter-wrapper {
  display: flex;
}

.manufacture {
  display: flex;
  flex-direction: column;
}

.mycabinet-container {
  display: flex;
}

.top-first-footer {
  display: flex;
  flex-direction: row;
} 

.bottom-first-footer {
  display: flex;
  flex-direction: row;
} 

.login-link-block {
  margin-left: 788px;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-right: 27px;
  padding-left: 52px;
}

.offer-list {
  flex-wrap: wrap;
  width: 876px;
  min-height: 410px;
}

.material,
.instrument,
.equipment,
.sale,
.delivery {
  margin-bottom: 21px;
  width: 300px;
  height: 122px;
}

.material,
.instrument {
  margin-right: 20px;
}

.offer-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-wrapper-column {
  flex-direction: column;
}

.head-section {
  display: flex;
  flex: 0 0 auto;
}

.all-button {
  padding-left: 54px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 14px;
  width: 255;
  height: 40;
}

.button {
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-right: 22px;
  align-items: center;
}

.manufacture-list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  min-height: 317px;
}

.manufacture-item {
  width: 220;
  height: 148;
  margin-right: 20px;
}

.manufacture-item: nth-child(1),
.manufacture-item: nth-child(3) {
  margin-left: 130px;
}

.head-section {
  margin-right: 130px;
  margin-left: 130px;
}

.services-text,
.services-item {
  margin-left: 450px;
}

.title-block {
  margin-top: 67px;
}

.services-block-text {
  margin-left: 130px;
}

.list {
  margin-left: 130px;
  margin-bottom: 41px;
}

.block {
  width: 550px;
  min-height: 392px;
}
