body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Gill Sans", sans-serif; 
  font-size: 17px;
  line-height: 14px;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  color: transparent;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-header {
  background-color: #33445a;
}

.search {
  background-color: #293449;
}

.button-order,
.button-order:active {
  background-color: #6db254;
  line-height: auto;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:focus {
  background-color: #518534;
}

.header-button-bookmarks:active,
.header-button-basket:active {
  line-height: auto;
} 

.header-button-bookmarks:hover,
.header-button-basket:hover,
.header-button-bookmarks:focus,
.header-button-basket:focus {
  background-color: #212a3a;
  opacity: 0.6;
} 

.header-button-bookmarks:active,
.header-button-basket:active {
  background-color: #293449;
  background-image: rgba(255, 255, 255, 0.5)
 } 

.second-header {
  background-color: #f4f7f9;
}

.button-search:hover {
  background-color: #212a3a;
}
.button-search:active {
  background-color: #ffffff;
  color: #000000;
}

button {
  font: inherit;

  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(229, 229, 229, 0,9);
  border: none;
}

button:focus {
  background-color: rgba(204, 204, 204, 0,9);
 } 

button:active {
  background-color: rgba(178, 178, 178, 0,9);
 } 

.introduction {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  position: absolute;
  color: #ee3643;
  margin-left: 50px;
  margin-top: 60px;
}

.second-header {
  display: flex;
}

.telephone {
  font-size: 21px;
  color: #e9292a;
  /*border: 3px solid #ffffff;*/
  padding-bottom: 13px;
  padding-left: 70px;
  padding-right: 0px;
  padding-top: 11px;
  margin-left: 330px;
  margin-top: 60px;
  flex-basis: auto;
  width: 267px;
}

.address {
  font-size: 14px;
  font-family: "Cuprum", "Gill Sans", sans-serif;
  color: #32425c;
  line-height: auto;
  margin-left: 330px;
  margin-top: 13px;

}

.login-link {
  font-size: 21px;
  color: rgb(0, 0, 0);
  line-height: auto;
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 27px;
  padding-bottom: 17px;
}

.login-link {
  margin-right: 10px;
}

.login-link-block:focus {
  color: #ee3643;
}

.login-link:hover {
  color: red;
}

.login-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.main-navigation {
  background-color: #32425c;
  width: 940px;
}

.navigation-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
  list-style: none;
}

.navigation-item {
  padding-right: 36px;
  padding-left: 30px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.navigation-item:hover {
  background-color: #293449;
}

.navigation-item:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.material {
  background-image: url("../img/icon-1.png");
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-color: #ffc352;
  list-style: none;
}

.instrument {
  background-image: url("../img/icon-2.png");
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-color: #3bbce3;
  list-style: none;
}

.equipment {
  background-image: url("../img/icon-3.png");
  background-position: 90% 60%;
  background-repeat: no-repeat;
  background-color: #dc91d8;
  list-style: none;
}

.sale {
  background-image: url("../img/icon-4.png");
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-color: #8ed78f;
  list-style: none;
  margin-left: -60px;
  margin-top: -20px;
}

.delivery {
  background-image: url("../img/icon-5.png");
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-color: #ffc047;
  list-style: none;
  margin-left: -60px;
}

.material,
.instrument,
.equipment,
.sale,
.delivery {
  width: 300px;
  height: 124px;
}

.offers-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 21px;
}

.material-button {
  margin-left: 23px;
  margin-bottom: 23px;
  margin-top: -23px;
}

.equipment-button {
  margin-left: 23px;
  margin-bottom: 23px;
  margin-top: -23px;
}

.instrument-button {
  margin-left: 23px;
  margin-bottom: 23px;
  margin-top: -23px;
}

.sale-button {
  margin-left: 22px;
  margin-top: -23px;
}

.delivery-button {
  margin-left: 22px;
  margin-top: -23px;
}

.material-button:hover,
.instrument-button:hover,
.equipment-button:hover,
.sale-button:hover,
.delivery-button:hover {
  background-color: #cccccc;
}

.material-button,
.instrument-button,
.equipment-button,
.sale-button,
.delivery-button {
  background-color: #e5e5e5;
}

.material-button:focus,
.instrument-button:focus,
.equipment-button:focus,
.sale-button:focus,
.delivery-button:focus {
  background-color: #cccccc;
}

.title-sale {
  padding-top: 24px;
}

.title-delivery {
  padding-top: 24px;
}

.gallery {
  background-image: url("../img/group1.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: 240px;
  width: 621px;
}

.text-gallery {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 25px;
}

.text-gallery-small {
  color: #ffffff;
  padding-left: 25px;
  margin-top: -20px;
}

.all-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ff5357;
  border-radius: 5px;
}

.all-button:focus {
  background-color: #ca2c37;
}

.all-button:active {
  background-color: #ba2732;
}

.catalog-item {
  border: 1px solid #eaeaea;
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  text-transform: uppercase;
  color: #3d546e;
  margin-left: 25px;
  flex-wrap: nowrap;
}

.title-catalog-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 18px;
  min-height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  color: #000000;
  padding-left: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.buy-cost {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.cost-catalog-item {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.buy-cost::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item-menu:hover {
  box-shadow: 0 3px;
}

.catalog-item-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 65px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;
}


.buy:hover,
.buy:focus {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #5fbb2d;
}

.buy:active {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #518534;
}

.bookmarks:hover,
.bookmarks:focus {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #32425c;
}

.bookmarks:active {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #e8e9eb;
  border: 3px solid #c1c6ce;
}

.button-cost {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: ee3643;
  background-size: 143px 39px;
}

.manufacture-list {
  list-style: none;
}

.manufacture-item {
  border: 1px solid #eaeaea;
}

.manufacture-item:hover {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.manufacture-item:active {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.offers-list {
  background-color: #f4f8f9;
  height: 520px;
}

.title-block {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-size: 13px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #000000;
}

.services {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.services-item {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3d546e;
  margin-top: 18px;
}

.list {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
  padding-top: 25px;
  margin-bottom: 40px;
  list-style: none;
}

.first-footer {
  background-color: #3d546e;
  width: 100%;
}

.second-footer {
  background-color: #33445a;
}

.footer-text {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9;
}

.menu-footer li{
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9; 
  list-style: none;
}

.second-menu-footer li {
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #ffd180; 
}

.second-menu-footer-item {
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #ffd180;
}

.menu-footer li:hover,
.menu-footer li:focus,
.second-menu-footer li:hover,
.second-menu-footer li:focus {
  text-decoration: underline;
}

.second-menu-footer li{
  color: #ffda96;
  list-style: none;
}

.second-footer-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.social-link {
  list-style: none;
}

.social-link:active,
.social-link:focus {
  background-color: #ee3643;
  list-style: none;
}

.our-contact {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.our-contact a {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffd180;
  text-transform: none;
  margin-left: -80px;
}
.our-contact.call,
.call a {
  margin-left: 119px;
}

.our-contact .developed,
.developed a {
  margin-left: 46px;
}

.our-contact a:focus,
.our-contact a:hover {
  text-decoration: underline;
}

.our-contact a:active {
  color: #ee3643;
}

.basket {
  line-height: auto;
  background-color: #ee3643;
} 

.myname {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

.mycabinet {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #32425c;
  text-decoration: underline;
}

.mycabinet:focus {
  color: #ee3643;
  text-decoration: underline #ee3643;
}

.mycabinet:active; {
  color: #32425c;
  text-decoration: underline #32425c;
}

.breadcrumps-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  margin-right: 30px;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.first-filter-menu {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  display: flex;
}

.main-filter {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.top-filter {
  color: #000000;
  border-bottom: 1px dashed #ee3643;
  list-style: none;
  margin-right: 65px; 
}

.top-filter:hover,
.top-filter:focus {
  color: #000000;
  border-bottom: 1px underline #ee3643;
  list-style: none; 
}

.top-filter:active {
  color: #ee3643;
  border-bottom: none; 
  list-style: none;
}

.manufacture-name {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
 }
 
.filter-option {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
}

.filter-button,
.pagination-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  list-style: none;
}

.pagination-item:focus {
  color: #000000;
  border: 1px solid #bdc6ca;
  list-style: none;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  color: #000000;
  list-style: none;
} 

.pagination-item-current {
  background-color: #ee3643;
  list-style: none;
}

.checkbox {
  color: #b5b5b5;
}

.chechbox:focus,
.ratio:focus {
  box-shadow: inline rgba (0, 0, 0, 0,35)
}



/* Сетка */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  margin: 0 auto;
}

.first-header {
  min-height: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 }
 
 .first-header-navigation {
  display: flex;
 }

 .search {
  margin-top: 12px;
 }

 .user-navigation {
  display: flex;
}

 .user-navigation a {
  display: block;
 }

.header-button-bookmarks,
.header-button-basket {
  padding-top: 13px;
  padding-right: 30px;
  padding-left: 50px;
  padding-bottom: 13px;
  display: inline-block;
}

.login-link.enter {
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.header-button-bookmarks {
  background-position: 12% 30%;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.header-button-basket {
 background-image: url("../img/icon-cart.svg");
 background-repeat: no-repeat;
 background-position: 12% 30%; 
}

.basket {
  padding-top: 12px;
  padding-right: 26px;
  padding-left: 48px;
  padding-bottom: 12px;
}

.button-order {
  padding-top: 12px;
  padding-right: 21px;
  padding-left: 20px;
  padding-bottom: 12px;
}

.second-header {
  min-height: 278px;
}

.myname-block {
  display: flex;
  margin-left: 770px; 
}

.myname {
  padding-bottom: 17px;
  padding-top: 14px;
  padding-right: 41px;
  padding-left: 48px;
}

.mycabinet {
  margin-left: 787px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item-block {
  margin-right: 36px;
}

.main-navigation {
  display: flex;
}

.main-title {
  min-height: 88px;
  padding-top: 31px;
  padding-left: 28px;
  margin-left: 0px;
  margin-right: 130px;
}

.top-filter-title {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin-left: 0px;
  min-width: 220px;
  padding: 0;
}

.first-filter-menu {
  display: flex;
  min-height: 38px;
  margin-right: 130px;
  margin-left: 20px;
}

.menu {
  display: flex;
  width: 220px;
  min-height: 700px;
  margin-left: 130px;
}

.filter-top-menu {
  min-height: 38px;
  width: 700px;
  display: flex;
}

.filter-menu {
  display: flex;
}

.catalog-list {
  display: flex;
  width: 800px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 60px;
  width: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url(../img/newflag.png);
}

.buy,
.bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  text-transform: uppercase;
  line-height: 18px;
}

.bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item-menu {
  display: none;
}

.catalog-item:hover .catalog-item-menu {
  display: block;
}

.pagination {
  display: flex;
  flex-direction: row;
}

.pagination-item,
.pagination-item-current{
  height: 39px;
  margin-right: 14px;
}

.perforation-text {
  min-height: 261px;
  display: flex;
  flex-direction: column;
  background-color: #f2f6f8;
}

.title-block {
  margin-left: 0px;
  padding-top: 62px;
}

.first-footer {
  min-height: 194px;
  width: 100%;
}

.logotip {
  margin-bottom: 31px;
}

.menu-footer {
  display: flex;
}

.menu-footer-item {
  margin-right: 58px;
}

.menu-footer {
  padding-left: 100px;
}

.second-menu-footer {
  display: flex;
  margin-left: 200px;
}

.second-menu-footer-item {
  margin-right: 58px;
}

.second-footer {
  min-height: 106px;
  display: flex;
  width: 100%;
}

.second-footer-text {
  padding-top: 20px;
  margin-right: 160px;
}

.social-link {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-flow: row;
}

.social-link-item {
  justify-content: center;
  background-color: #212a3a;
  margin-left: 6px;
  position: relative;
  bottom: -9px;
  left: 4px;
  z-index: 10;
}

.circl {
 width: 42px;
 height: 42px;
 border-radius: 50px;
 background: #212a3a;
 margin-right: 8px;

}

.our-contact {
  display: flex;
  margin-left: ;
}

.catalog-wrapper,
.company-wrapper {
  display: flex;
}

.filter-wrapper {
  display: flex;
}

.manufacture {
  display: flex;
  flex-direction: column;
}

.mycabinet-container {
  display: flex;
}

.top-first-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
} 

.bottom-first-footer {
  display: flex;
  flex-direction: row;
} 

.login-link-block {
  display: flex;
  margin-left: 655px;
  position: relative;
  bottom: 52px;
}


.offer-list {
  display: flex;
}

.catalog-wrapper-column {
  display: flex;
  flex-direction: column;
}


.material,
.instrument {
  margin-right: 20px;
}

.offer-wrapper {
  display: flex;
}

.head-section {
  display: flex;
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.all-button {
  padding-left: 54px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 14px;
  display: inline-block;
}

.button {
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-right: 22px;
  align-items: center;
}

.manufacture-list {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  min-height: 317px;
}

.manufacture-item {
  width: 220px;
  height: 148px;
  margin-right: 20px;
  margin-bottom: 23px;
  justify-content: center;
  align-items: center;
}

.manufacture-item: nth-child(1),
.manufacture-item: nth-child(3) {
  margin-left: 130px;
}

.catalog-item: nth-child(1),
.catalog-irem: nth-child(4),
.catalog-item: nth-child(7) {
  margin-left: 20px;
}

..manufacture-item: nth-child(4),
.manufacture-item: nth-child(8) {
  margin-right: 0px;
}

.title-column {
  margin-top: 67px;
}

.title-column-contact {
  margin-left: 133px;
  margin-top: 67px;
  display: flex;
  flex-direction: column;
}

.column {
  width: 500px;
  min-height: 392px;
}

.map-button {
  margin-left: 133px;
}

.contact-button {
 position: relative;
 right: 300px;
 top: 75px;
 display: inline-block;
 width: 163px;
}

.search-button {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 170px;
  padding-left: 46px;
  padding-top: 12px;
}

.search-button {
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 5% 70%;
}

.search-button:hover {
  opacity: 0.5;
}

.search-button:focus,
.search-button:active {
  background-color: #ffffff;
}

.all-goods,
.all-manufacture {
  padding: 0px;
  flex-grow: 0;
  display: inline-flex;
  flex-wrap: nowrap;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 25px;
  margin-left: 274px;
  padding-right: 70px;
  padding-left: 70px;
}

.services-column-text,
.services-contact-text {
  font-size: 13px;
  line-height: 24px;
}

.second-offer-wrapper {
  display: flex;
  margin-left: -10px; 
}

.services-delivery,
.services-garantee,
.services-credit {
  width: 240px;
  height: 62px;
  background-color: #3d546e;
  border-bottom: 1px solid #000000;
}

.services-delivery {
  margin-top: 65px;
}

.services-credit {
  margin-bottom: 85px;
}

.about-company {
  margin-bottom: 87px;
}

.open-catalog {
  margin-top: 100px;
  margin-left: 25px;
}

.equipment-list {
  flex-wrap: wrap;
  margin-left: -250px;
}

.second-filter-menu {
  width: 220px;
  margin-left: 0px;
}

.equipment-text {
  margin-left: 0px;
}

.pagination-item {
  width: 39px;
  height: 37px;
}

.pagination-item-list {
  width: 147px;
  height: 38px;
}

.company-column {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
}

.services-contact-text {
  margin-left: 133px;
}

.second-footer-wrapper {
  display: flex;
}

.our-contact a {
  padding-top: 15px;
}

.catalog-wrapper-column {
  background-image: url(../img/line.png);
  background-position: 25% 50%;
  background-repeat: no-repeat;
}

.delivery-block {
  position: relative;
  left: 300px;
  bottom: 300px;
  background-image: url(../img/group3.png);
  background-position: 80% 100%;
  background-repeat: no-repeat;
  width: 650px;
  height: 300px;
  display: block;
  
}

.garantee-block {
  position: relative;
  left: 300px;
  bottom: 300px;
  background-image: url(../img/group4.png);
  background-position: 80% 80%;
  background-repeat: no-repeat;
  width: 650px;
  height: 300px;
  display: none;
}

.credit-block {
  position: relative;
  left: 300px;
  bottom: 300px;
  background-image: url(../img/equipment5.png);
  background-position: 80% 80%;
  background-repeat: no-repeat;
  width: 650px;
  height: 300px;
  display: none;
}

.login-link.registration {
  padding-left: 24px;
}
