body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Gill Sans", sans-serif; 
  font-size: 17px;
  line-height: 14px;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  color: transparent;
}

.first-header {
  background-color: #33445a;
}

.button-order,
.button-order:active {
  background-color: #6db254;
  line-height: auto;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:focus {
  background-color: #518534;
}

.header-button
.header-button:active {
  line-height: auto;
} 

.header-button:hover {
  background-color: #212a3a;
 } 

.header-button:focus {
  background-color: #161d29;
 } 

.second-header {
  background-color: #f4f7f9;
}

.button-search:hover {
  background-color: #212a3a;
}
.button-search:active {
  background-color: #ffffff;
  color: #000000;
}

button {
  font: inherit;

  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(229, 229, 229, 0,9);
  border: none;
}

button:focus {
  background-color: rgba(204, 204, 204, 0,9);
 } 

button:active {
  background-color: rgba(178, 178, 178, 0,9);
 } 

.introduction {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-align: left;
  position: absolute;
  color: #ee3643;
}

.telephone {
  font-size: 21px;
  color: #e9292a;
  line-height: auto;
  text-align: left;
  border: 3px #ffffff;
}

.address {
  font-size: 14px;
  font-family: "Cuprum", "Gill Sans", sans-serif;
  color: #32425c;
  line-height: auto;
  text-align: center;
}

.login-link {
  font-size: 21px;
  color: rgb(0, 0, 0);
  line-height: auto;
  text-align: left;
}

.login-link:focus {
  color: #ee3643;
}

.login-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.main-navigation {
  background-color: #32425c;
}

.navigation-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
  list-style: none;
}

.navigation-item:focus {
  background-color: #293449;
}

.navigation-item:active {
  background-color: #1d2739;
}

.material {
  background-color: #ffbf47;
  background-size: 300px 124px;
  list-style: none;
}

.instrument {
  background-color: #3bbce3;
  background-size: 300px 124px;
  list-style: none;
}

.equipment {
  background-color: #dc91d8;
  background-size: 300px 124px;
  list-style: none;
}

.sale {
  background-color: #8ed78f;
  background-size: 300px 124px;
  list-style: none;
}

.delivery {
  background-color: #ffc047;
  background-size: 300px 124px;
  list-style: none;
}

.offers-item {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.text-gallery {
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.text-gallery-small {
  color: #ffffff;
}

.all-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ff5357;
  border-radius: 5px;
}

.all-button:focus {
  background-color: #ca2c37;
}

.all-button:active {
  background-color: #ba2732;
}

.head-section {
  background-color: #f9f5f0;
  background-size: 940px 88px;
}

.catalog-item {
  border: 1px solid #eaeaea;
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  text-transform: uppercase;
  color: #3d546e;
}

.title-catalog-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.cost-catalog-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-item-menu:hover {
  box-shadow: 0 3px;
}

.buy {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #63a63e;
}

.buy:hover,
.buy:focus {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #5fbb2d;
}

.buy:active {
  font-size: 14px;
  line-height: 18px;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #518534;
}

.bookmarks {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #63a63e;
}

.bookmarks:hover,
.bookmarks:focus {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #32425c;
  border: 3px solid #32425c;
}

.bookmarks:active {
  font-size: 14px;
  line-height: auto;
  font-weight: regular;
  text-transform: uppercase;
  color: #e8e9eb;
  border: 3px solid #c1c6ce;
}

.button-cost {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: ee3643;
  background-size: 143px 39px;
}

.manufacture-list {
  list-style: none;
}

.manufacture-item {
  border: 1px solid #eaeaea;
}

.manufacture-item:hover {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.manufacture-item:active {
  border: 1px solid #eaeaea;
  box-shadow: inline 3px 3px rgba(0, 0, 0, 0,35);
  background-color: #ffffff;
}

.offers-list {
  background-color: #f4f8f9;
}

.title-block {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-size: 13px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #000000;
}

.services {
  list-style: none;
}

.services-item {
  font-size: 36px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3d546e;
}

.list {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}

.first-footer {
  background-color: #3d546e
}

.second-footer {
  background-color: #33445a
}

.footer-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9;
}

.menu-footer li{
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #f3f7f9; 
  list-style: none;
}

.second-menu-footer li{
  font-size: 18px;
  line-height: auto;
  font-weight: regular;
  text-transform: none;
  color: #ffd180; 
}

.menu-footer li:hover,
.menu-footer li:focus,
.second-menu-footer li:hover,
.second-menu-footer li:focus {
  text-decoration: underline;
}

.second-menu-footer li{
  color: #ffda96;
  list-style: none;
}

.second-footer-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.social-link {
  background-color: #212a3a;
  list-style: none;
}

.social-link:active,
.social-link:focus {
  background-color: #ee3643;
  list-style: none;
}

.our-contact {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffffff;
  text-transform: none;
}

.our-contact a {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #ffd180;
  text-transform: none;
}

.our-contact a:focus,
.our-contact a:hover {
  text-decoration: underline;
}

.our-contact a:active {
  color: #ee3643;
}

.basket {
  line-height: auto;
  background-color: #ee3643;
} 

.myname {
  font-family: "Cuprum", "Gill Sans", sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: none;
  
  background-color: #ffffff;
}

.mycabinet {
  font-size: 16px;
  line-height: 18px;
  font-weight: regular;
  color: #32425c;
  text-decoration: underline;
}

.mycabinet:focus {
  color: #ee3643;
  text-decoration: underline #ee3643;
}

.mycabinet:active; {
  color: #32425c;
  text-decoration: underline #32425c;
}

.breadcrumps-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: regular;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.filter {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter-title {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.top-filter {
  color: #ececec;
  border-bottom: 1px dashed #ee3643; 
}

.top-filter:hover,
.top-filter:focus {
  color: #000000;
  border-bottom: 1px underline #ee3643; 
}

.top-filter:active {
  color: #ee3643;
  border-bottom: none; 
}

.manufacture-name {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
 }
 
.filter-option {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
}

.filter-button,
.pagination-item {
  font-family: "PT Sans", "Gill Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  list-style: none;
}

.pagination-item:focus {
  color: #000000;
  border: 1px solid #bdc6ca;
  list-style: none;
}

.pagination-item:active {
  border: 1px solid #ee3643;
  color: #000000;
  list-style: none;
} 

.pagination-item-current {
  background-color: #ee3643;
  list-style: none;
}

.checkbox {
  color: #b5b5b5;
}

.chechbox:focus,
.ratio:focus {
  box-shadow: inline rgba (0, 0, 0, 0,35)
}